/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

$app-bar-background: red !important;

.v-app-bar.v-toolbar {
    padding: 15px 0;
    background: #616161;
}
.v-card{
    padding: 15px;
    margin: 10px;
}